@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1><img src="https://hanoicomputercdn.com/media/lib/09-08-2023/logo-hacom-since-2001.png" /></h1>
    <h1>HAcom ChatBot</h1>
    <p>Click on the chat button to start chatting</p>
</section>

@* <div id="chat-container"></div>
<script src="/chatbot-ui.js"></script>
<script>
    createChatBot(host = '@ViewBag.Url' + 'webhooks/rest/webhook', botLogo = "https://hanoicomputercdn.com/media/lib/09-08-2023/logo-hacom-since-2001.png",
        title = "BOT TEST HA.COM", welcomeMessage = "Xin chào, tôi là trợ lý mới của Hacom, tôi có thể giúp gì cho bạn", inactiveMsg = "Server đang lỗi ...", theme = "purple")
</script> *@
<!-- Start of caresoft live-chat widget -->
<script type="" text /javascript"">
    !function (e, t, n, s, a, c, i) {
        e.CSLiveChatWidget = a, e[a] = e[a]
            || function () {
                (e[a].q = e[a].q
                    || []).push(arguments)
            }, e[a].l = 1 * new Date,
            c = t.createElement(n),
            i = t.getElementsByTagName(n)[0],
            c.async = 1,
            c.src = s,
            i.parentNode.insertBefore(c, i)
    }
        (window, document, "script", "https://webchat.caresoft.vn:8091/widget/widget.min.js?v=1.0", "cslw");
    cslw("create", { "domain": "hanoicomputer", "domainId": 8934, "isSPA": 1 })
</script>
<!-- End of caresoft live-chat widget -->